absl-py==1.4.0
accelerate==0.22.0
adagio==0.2.4
aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.11.1
appdirs==1.4.4
argcomplete==3.1.1
asgiref==3.7.2
aspose-words==23.8.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
awsebcli==3.20.10
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.7.0
botocore==1.31.70
bottle==0.12.25
bs4==0.0.1
cachetools==5.3.1
cement==2.8.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
clr-loader==0.2.6
cmdstanpy==1.1.0
colorama==0.4.3
colorclass==2.2.2
comm==0.1.3
compressed-rtf==1.0.6
contourpy==1.1.0
convertdate==2.4.0
cryptography==41.0.3
cycler==0.11.0
Cython==3.0.2
datasets==1.0.2
debugpy==1.6.7
decorator==5.1.1
dill==0.3.5.1
distlib==0.3.7
Django==4.2.4
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
easygui==0.98.3
ebcdic==1.1.1
ephem==4.1.4
et-xmlfile==1.1.0
executing==1.2.0
extract-msg==0.45.0
filelock==3.12.2
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.42.0
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.6.0
fugue==0.8.6
fugue-sql-antlr==0.1.7
gast==0.4.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-generativeai==0.3.2
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
h5py==3.9.0
holidays==0.34
huggingface-hub==0.16.4
idna==3.4
IMAPClient==2.3.1
importlib-resources==6.1.0
ipykernel==6.24.0
ipython==8.14.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.3.0
jupyter_core==5.3.1
keras==2.13.1
kiwisolver==1.4.4
lark==1.1.5
libclang==16.0.6
llvmlite==0.41.0
LunarCalendar==0.0.9
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mpmath==1.3.0
msoffcrypto-tool==5.1.1
multidict==6.0.4
nest-asyncio==1.5.6
networkx==3.1
numba==0.58.0
numpy==1.24.3
oauthlib==3.2.2
olefile==0.46
oletools==0.60.1
openai==0.27.8
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathspec==0.10.1
patsy==0.5.3
pcodedmp==1.2.6
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.9.1
pmdarima==2.0.3
polars==0.19.5
prompt-toolkit==3.0.39
prophet==1.1.4
proto-plus==1.23.0
protobuf==4.23.4
provide-dir==0.1.2
proxy-tools==0.1.0
psutil==5.9.5
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycparser==2.21
pycryptodome==3.18.0
Pygments==2.15.1
PyJWT==2.8.0
PyMeeus==0.5.12
pyparsing==2.4.7
PyPDF2==3.0.1
pypiwin32==223
pyth==0.6.0
python-dateutil==2.8.2
pythonnet==3.0.1
pytz==2023.3
pywebview==4.2.2
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.0
qpd==0.4.4
red-black-tree-mod==1.20
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
RTFDE==0.1.0
rtfparse==0.8.1
safetensors==0.3.1
scikit-learn==1.3.1
scipy==1.11.3
semantic-version==2.8.5
sentencepiece==0.1.99
six==1.16.0
soupsieve==2.4.1
sqlglot==18.8.0
sqlparse==0.4.4
stack-data==0.6.2
statsforecast==1.6.0
statsmodels==0.14.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
tf-sentencepiece==0.1.3
threadpoolctl==3.2.0
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.31.0
triad==0.9.1
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.16
virtualenv==20.24.0
wcwidth==0.1.9
Werkzeug==3.0.1
wikiextractor==3.0.6
win-unicode-console==0.5
wrapt==1.15.0
xxhash==3.3.0
yarl==1.9.2
